# BSS-AUS: Basketball Statistic System (AUS)

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/ssardina/pynbl/HEAD)

This system allows to **incrementally** build a database of _stint lineups_ (advance) statistics for each game and each team.

A **stint** is a lineup of players who play together in different interval periods across the game. The system will build the stints for each team from the play-by-play data and compute various statistics.

The data comes as a raw JSON file:

https://fibalivestats.dcd.shared.geniussports.com/data/2087737/data.json

In [5]:
# Let's first load all required packages...
import os
import pandas as pd
import numpy as np
import dtale

from config import *
import bball_stats
import tools

## 1. Define games to scrape and saved data

First, setup the games we want to scrape and compute, as well as the existing data stored in file to append to.

In [6]:
# games to be computed
#   Format: (game id, game no for team 1, round no for team 1, game no for team 2, round no for team 2)
#       can also just  be a single game_id (with no info about game/round numbers)
games_21_22 = [(1976446,1,1,1,1),(1976447,1,1,1,1),(1976448,1,1,1,1),(1976452,2,1,1,1),(1976454,1,1,1,1),(2004608,2,1,1,1),(2004609,3,2,2,2),(1976449,2,2,2,2),(1976451,2,2,3,2),(1976453,2,2,3,2),(1976455,4,2,3,2),(1976458,2,2,2,2),(1976456,2,2,3,2),(1976457,3,3,3,3),(1976459,3,3,4,3),(1976460,4,3,3,3),(1976461,4,3,4,3),(1976462,3,3,5,3),(1976463,4,3,5,3),(1976464,4,3,4,3),(2004610,5,3,4,3),(1976465,5,3,5,3),(1976468,6,4,6,4),(1976469,6,4,5,4),(1976474,7,5,6,5),(1976473,4,5,6,5),(1976482,5,6,7,6),(2036215,5,7,7,7),(2031329,8,7,7,7),(2031330,6,7,5,7),(2031332,6,7,8,7),(2031333,8,7,9,7),(2031334,6,7,7,7),(2031335,7,8,9,8),(2031336,7,8,9,8),(2031337,7,8,8,8),(2031338,10,8,8,8),(2031340,8,8,6,8),(2031341,7,8,5,8),(2046695,8,8,8,8),(2046696,9,8,10,8),(2046697,9,9,9,9),(2031342,9,9,9,9),(2031343,6,9,10,9),(2031344,10,9,8,9),(2031345,10,9,11,9),(2031346,11,9,10,9),(2031347,10,9,10,9),(2046698,11,10,11,10),(2046700,11,10,12,10),(2046701,11,10,7,10),(2046702,9,10,11,10),(2046703,13,10,12,10),(2046704,12,10,12,10),(2046706,12,10,10,10),(2046707,11,11,14,11),(2046709,12,11,11,11),(2046710,13,11,8,11),(2046711,13,11,12,11),(2046712,12,11,13,11),(2046713,15,11,13,11),(2051763,9,11,13,11),(2053811,14,12,13,12),(2053812,14,12,10,12),(2053813,14,12,14,12),(2053814,16,12,13,12),(2053815,12,12,11,12),(2053816,15,12,14,12),(2053817,15,12,14,12),(2053818,12,13,14,12),(2053819,16,13,13,13),(2053820,16,13,15,13),(2053821,15,13,14,13),(2053822,14,13,17,13),(2053823,13,13,16,13),(2053824,16,13,15,13),(2053825,15,13,17,13),(2056454,15,14,16,14),(2056455,17,14,16,14),(2056457,17,14,17,14),(2056458,16,14,16,14),(2056461,17,14,18,14),(2056462,17,14,18,14),(2056460,18,14,14,14),(2056463,18,15,17,15),(2056464,15,15,18,15),(2056466,19,15,18,15),(2056467,18,15,17,15),(2056469,19,15,19,15),(2056471,18,15,19,15),(2056472,16,15,19,15),(2056473,19,15,19,15),(2065653,20,16,19,16),(2065654,18,16,17,16),(2065655,20,16,21,16),(2065656,20,16,20,16),(2065657,21,17,19,16),(2065658,21,17,18,16),(2065659,19,17,20,16),(2069165,20,16,21,17),(2069166,20,16,21,17),(2069167,20,16,21,17),(2069168,22,17,22,17),(2069169,22,17,21,17),(2069170,20,17,22,17),(2069171,21,17,22,17),(2069172,22,17,20,17),(2069175,23,18,23,18),(2069177,21,18,23,18),(2069179,22,18,24,18),(2069181,21,18,23,18),(2069183,24,18,22,18),(2069184,24,18,22,18),(2069186,24,18,22,18),(2069187,23,18,23,18),(2069191,23,18,24,19),(2069192,24,19,24,19),(2069194,24,19,23,19),(2069196,25,19,25,19),(2069199,25,19,23,19),(2069202,23,19,25,19),(2069203,25,19,25,19),(2069204,24,19,26,19),(2069190,24,19,26,20),(2069193,26,19,27,20),(2069195,26,20,25,20),(2069197,25,20,27,20),(2069198,27,20,26,20),(2069200,26,20,25,20),(2069201,26,20,25,20),(2069205,26,20,24,19),(2069173,26,20,28,21),(2069174,28,21,28,21),(2069176,28,21,28,21),(2069178,28,21,28,21),(2069180,28,21,28,21),(2069182,28,21,27,21),(2069188,27,21,27,21),(2069189,27,20,26,20)]

games_22_23 = [(2141127,0,0,0,0), (2135117,0,0,0,0), (2134935,0,0,0,0), (2141126,0,0,0,0), (2135116,0,0,0,0), (2122060,0,0,0,0), (2122059,0,0,0,0)]

# games = [1976463]   # game with no "bugs" in subs
games = games_22_23


# 2135117, 2134935, 2141126 2135116
# Files containing the existing tables stored in disk already
# System will extend these tables with the new games
file_stats_df = os.path.join(DATA_DIR, "stats_df.pkl")
file_games_df = os.path.join(DATA_DIR, "games_df.pkl")

# Set to True to re-compute from scratch all tables
reload = False

## 2. Compute stat and game tables

Now, let us run the system that scrapes the games' data, computes stats and game info, and adds them to the initial tables of stats and games.

We start by loading all saved previous games, if any, as we want to append to that database (and we don't want to recompute them).

In [7]:
# Load games from saved files (if any)
init_stats_df = None
game_df = None
if os.path.exists(file_stats_df) and not reload:
    # load the stat dataframe already stored as a file
    print(f"Loading initial stats df: {file_stats_df}")
    init_stats_df = pd.read_pickle(file_stats_df)
    game_df = pd.read_pickle(file_games_df)
    existing_games = init_stats_df.game_id.unique()
else:
    existing_games = []

init_stats_df
# init_stats_df['lineup'].apply(lambda x: len(x) > 5)
# init_stats_df.loc[5,'lineup']
# init_stats_df.loc[5]

It is now time to process each game:

In [8]:
stats_dfs = [init_stats_df] if init_stats_df is not None else []
games_data = []
for game in games:
    # check if a game item includes game and round numbers for the two teams; otherwise assign np.nan
    if isinstance(game, tuple):
        game_id, game1, round1, game2, round2 = game
    else:
        game_id = game
        game1 = round1 = game2 = round2  = np.nan

    # don't scrape game data if already loaded from file
    if game_id in existing_games:
        print(f"Game {game_id} is already in table")
        continue
    print(f"Computing game {game_id}...")

    # MAIN STEP: scrape and compute the actual stats for the game
    result = bball_stats.build_game_stints_stats_df(game_id)
    df = result['stint_stats_df']   #  this is basically what we care, the stint stats
    team1, team2 = result['teams']

    # extract date of game from HTML page
    try:
        game_info = tools.get_game_info(game_id)
    except:
        game_info = { "venue" : np.nan, "date": np.nan}
    print(f"\t .... done: {team1[0]} ({team1[1]}) vs {team2[0]} ({team2[1]}) on {game_info['date']}")

    # fill game info
    df.insert(0, 'game_id', game_id)
    df.insert(3, 'game1', game1)
    df.insert(4, 'round1', round1)
    df.insert(5, 'game2', game2)
    df.insert(6, 'round2', round2)
    stats_dfs.append(df)

    # build game dataframe table
    games_data.append({"game_id": game_id,
                        "date" : game_info['date'],
                        "team1": team1[0], "team2": team2[0],
                        "s1": team1[1], "s2": team2[1],
                        "game1": game1, "round1": round1,
                        "game2": game2, "round2": round2,
                        "winner": 1 if team1[1] > team2[1] else 2,
                        "venue" : game_info["venue"]}
                      )

# put all dfs for each game together into a single dataframe
stats_df = pd.concat(stats_dfs)
stats_df.reset_index(inplace=True, drop=True)
stats_df.sample(5)

if game_df is not None:
    games_df = pd.concat([game_df, pd.DataFrame(games_data)])
    games_df.reset_index(inplace=True, drop=True)
else:
    games_df = pd.DataFrame(games_data)

print("All games extracted!")

Computing game 2141127...
	 .... done: Perth Wildcats (97) vs Adelaide 36ers (91) on 2022-09-11 00:00:00
Computing game 2135117...
	 .... done: Melbourne United (72) vs Brisbane Bullets (76) on 2022-09-10 00:00:00
Computing game 2134935...

2022-09-11 19:39:52 WARNING Sub team 1 at 00:05:00 in period 5: incoming players already in court: {'B. Brown'}
2022-09-11 19:39:52 WARNING Sub team 1 at 00:05:00 in period 5: outcoming players not in court: {'R. Loe'}

	 .... done: New Zealand Breakers (71) vs Illawarra Hawks (68) on 2022-09-10 00:00:00
Computing game 2141126...
	 .... done: Perth Wildcats (98) vs Adelaide 36ers (87) on 2022-09-09 00:00:00
Computing game 2135116...
	 .... done: Melbourne United (77) vs Brisbane Bullets (105) on 2022-09-08 00:00:00
Computing game 2122060...
	 .... done: Tasmania JackJumpers (84) vs South East Melbourne Phoenix (80) on 2022-09-08 00:00:00
Computing game 2122059...
	 .... done: Tasmania JackJumpers (88) vs South East Melbourne Phoenix (83) on 2022-09-06 00:00:00
All games extracted!

In [15]:
result = bball_stats.build_game_stints_stats_df(2122059)
df = result['stints_df']
df

,id,lineup,intervals,mins,tno,team
0,1,"[F. Krslovic, J. Magette, M. Doyle, M. Kenyon,...","[(1, 00:10:00, 00:06:07), (2, 00:03:29, 00:00:...",12.383333,1,Tasmania JackJumpers
1,2,"[F. Krslovic, J. Bairstow, J. Magette, M. Doyl...","[(1, 00:06:07, 00:05:23)]",0.733333,1,Tasmania JackJumpers
2,3,"[J. Bairstow, J. Magette, M. Doyle, M. Kenyon,...","[(1, 00:05:23, 00:04:21)]",1.033333,1,Tasmania JackJumpers
3,4,"[I. White, J. Bairstow, J. Weeks, M. Kenyon, T...","[(1, 00:04:21, 00:03:37)]",0.733333,1,Tasmania JackJumpers
4,5,"[I. White, J. Bairstow, J. Weeks, T. Forsyth, ...","[(1, 00:03:37, 00:02:10)]",1.450000,1,Tasmania JackJumpers
5,6,"[I. White, J. Bairstow, J. Weeks, S. Macdonald...","[(1, 00:02:10, 00:00:05.100000), (2, 00:10:00,...",5.483333,1,Tasmania JackJumpers
6,7,"[I. White, J. Bairstow, J. Weeks, S. Macdonald...","[(1, 00:00:05.100000, 00:00:00), (2, 00:10:00,...",0.083333,1,Tasmania JackJumpers
7,8,"[I. White, J. Bairstow, J. Weeks, R. Kelly, S....","[(2, 00:08:22, 00:07:50)]",0.533333,1,Tasmania JackJumpers
8,9,"[F. Krslovic, I. White, J. Weeks, R. Kelly, S....","[(2, 00:07:50, 00:06:36)]",1.233333,1,Tasmania JackJumpers
9,10,"[F. Krslovic, J. Magette, M. Doyle, R. Kelly, ...","[(2, 00:06:36, 00:03:29)]",3.116667,1,Tasmania JackJumpers
10,11,"[I. White, J. Bairstow, J. Magette, M. Kenyon,...","[(3, 00:04:59, 00:03:11)]",1.800000,1,Tasmania JackJumpers
11,12,"[I. White, J. Bairstow, J. Weeks, M. Kenyon, W...","[(3, 00:03:11, 00:02:48)]",0.383333,1,Tasmania JackJumpers
12,13,"[I. White, J. Weeks, S. Macdonald, T. Forsyth,...","[(3, 00:01:01, 00:00:00), (4, 00:10:00, 00:09:...",1.766667,1,Tasmania JackJumpers
13,14,"[I. White, J. Magette, S. Macdonald, T. Forsyt...","[(4, 00:09:15, 00:08:11)]",1.066667,1,Tasmania JackJumpers
14,15,"[I. White, J. Magette, M. Doyle, T. Forsyth, W...","[(4, 00:08:11, 00:07:31)]",0.666667,1,Tasmania JackJumpers
15,16,"[I. White, J. Magette, M. Doyle, M. Kenyon, W....","[(4, 00:07:31, 00:07:03)]",0.466667,1,Tasmania JackJumpers
16,17,"[I. White, J. Magette, M. Doyle, M. Kenyon, R....","[(4, 00:07:03, 00:03:02)]",4.016667,1,Tasmania JackJumpers
17,18,"[J. Magette, M. Doyle, M. Kenyon, R. Kelly, S....","[(4, 00:03:02, 00:02:43)]",0.316667,1,Tasmania JackJumpers
18,19,"[F. Krslovic, M. Doyle, M. Kenyon, R. Kelly, S...","[(4, 00:02:43, 00:00:57.700000)]",1.750000,1,Tasmania JackJumpers
19,20,"[F. Krslovic, M. Doyle, M. Kenyon, S. Macdonal...","[(4, 00:00:57.700000, 00:00:00)]",0.950000,1,Tasmania JackJumpers
0,1,"[D. Pineau, G. Anticevich, K. Adnam, R. Broekh...","[(1, 00:10:00, 00:07:26)]",2.566667,2,South East Melbourne Phoenix
1,2,"[D. Pineau, G. Anticevich, J. Madut, K. Adnam,...","[(1, 00:07:26, 00:06:07), (4, 00:07:31, 00:04:...",4.216667,2,South East Melbourne Phoenix
2,3,"[A. Williams, G. Anticevich, G. Browne, J. Mad...","[(1, 00:06:07, 00:03:37), (2, 00:01:30, 00:00:...",4.000000,2,South East Melbourne Phoenix
3,4,"[A. Williams, G. Browne, J. Madut, O. Foxwell,...","[(1, 00:03:37, 00:02:10)]",1.450000,2,South East Melbourne Phoenix
4,5,"[A. Williams, G. Browne, O. Foxwell, R. Te Ran...","[(1, 00:02:10, 00:01:38)]",0.533333,2,South East Melbourne Phoenix
5,6,"[A. Williams, G. Browne, O. Foxwell, R. Broekh...","[(1, 00:01:38, 00:00:05.100000)]",1.533333,2,South East Melbourne Phoenix
6,7,"[D. Pineau, G. Browne, O. Foxwell, T. Kell, T....","[(1, 00:00:05.100000, 00:00:00), (2, 00:10:00,...",0.083333,2,South East Melbourne Phoenix
7,8,"[D. Pineau, K. Adnam, O. Foxwell, T. Kell, T. ...","[(2, 00:10:00, 00:07:21)]",2.650000,2,South East Melbourne Phoenix
8,9,"[D. Pineau, G. Browne, K. Adnam, T. Kell, T. S...","[(2, 00:07:21, 00:07:09)]",0.200000,2,South East Melbourne Phoenix
9,10,"[D. Pineau, G. Anticevich, G. Browne, K. Adnam...","[(2, 00:07:09, 00:05:40)]",1.483333,2,South East Melbourne Phoenix
10,11,"[A. Williams, G. Anticevich, G. Browne, J. Mad...","[(2, 00:05:40, 00:01:30)]",4.166667,2,South East Melbourne Phoenix
11,12,"[D. Pineau, G. Anticevich, K. Adnam, R. Te Ran...","[(3, 00:10:00, 00:04:59)]",5.016667,2,South East Melbourne Phoenix
12,13,"[A. Williams, G. Anticevich, G. Browne, J. Mad...","[(3, 00:04:59, 00:02:48)]",2.183333,2,South East Melbourne Phoenix
13,14,"[A. Williams, G. Browne, J. Madut, O. Foxwell,...","[(3, 00:02:48, 00:00:56.300000)]",1.850000,2,South East Melbourne Phoenix
14,15,"[A. Williams, G. Browne, J. Madut, T. Kell, T....","[(3, 00:00:56.300000, 00:00:00), (4, 00:10:00,...",3.416667,2,South East Melbourne Phoenix
15,16,"[G. Anticevich, J. Madut, K. Adnam, R. Te Rang...","[(4, 00:04:37, 00:03:02)]",1.583333,2,South East Melbourne Phoenix
16,17,"[A. Rissetto, J. Madut, K. Adnam, O. Foxwell, ...","[(4, 00:03:02, 00:00:00)]",3.033333,2,South East Melbourne Phoenix

If we want we can do some sanity checks, before saving to disk:

In [9]:
dtale.show(games_df)

In [10]:
import random
print("The shape of stats_df is:", stats_df.shape)
stats_cols = list(stats_df.columns[8:53])
print("Stats cols:", stats_cols)

# build columns we want to show
cols = ['game_id' , 'tno', 'team', 'stint']
rnd_cols = random.sample(stats_cols, 8)
rnd_cols.extend([f"{x}_opp" for x in rnd_cols])
cols.extend(rnd_cols)

# show some sample of stats computed
stats_df[cols].sample(5)

The shape of stats_df is: (263, 103)
Stats cols: ['poss', 'ortg', 'drtg', 'nrtg', 'fga', 'fgm', 'fgp', 'pts', 'patra', 'patrm', 'patrp', '3pt_fga', '3pt_fgm', '3pt_fgp', '2pt_fga', '2pt_fgm', '2pt_fgp', 'fta', 'ftm', 'ftp', 'tsp', 'ast', 'astr', 'fgm_astp', 'stl', 'stlr', 'blk', 'blkr', 'tov', 'tovr', 'reb', 'dreb', 'drebc', 'drebp', 'oreb', 'odrec', 'orebp', 'trb', 'trbr', 'tov_bh', 'tov_bp', 'tov_ofoul', 'tov_3sec', 'tov_8sec', 'tov_24sec']

,game_id,tno,team,stint,fta,stlr,astr,poss,blkr,patra,3pt_fgm,fgm,fta_opp,stlr_opp,astr_opp,poss_opp,blkr_opp,patra_opp,3pt_fgm_opp,fgm_opp
126,2141126,1,Perth Wildcats,11,2.0,0.00,0.00,0.88,0.0,0.0,0.0,0.0,0.0,0.0,0.00,2.00,0.0,0.0,0.0,0.0
113,2134935,2,Illawarra Hawks,10,2.0,0.00,0.00,1.88,0.0,0.0,0.0,0.0,0.0,0.0,33.33,3.00,0.0,0.0,0.0,1.0
3,2141127,1,Perth Wildcats,4,0.0,0.00,0.00,3.00,0.0,0.0,0.0,0.0,2.0,0.0,34.72,2.88,0.0,2.0,0.0,1.0
0,2141127,1,Perth Wildcats,1,2.0,14.53,58.14,6.88,0.0,1.0,2.0,5.0,3.0,0.0,24.04,8.32,0.0,2.0,0.0,4.0
52,2135117,1,Melbourne United,13,0.0,0.00,0.00,3.00,0.0,1.0,0.0,1.0,0.0,0.0,0.00,2.00,0.0,0.0,0.0,0.0

Sanity check that `(ortg, drtg)` (offensive/defensive rate goal) should mirror `(drtg_opp, ortg_opp)` (opponent offensive/defensive rate goal)):

In [ ]:
# (ortg, drtg) should mirror (drtg_opp, ortg_opp)
stats_df.iloc[4][['game_id' , 'team', 'poss', 'ortg', 'drtg', "poss_opp", "ortg_opp", "drtg_opp"]]

## 3. Save stats and games to files

We now save the full dataframes (stats and games) in various formats: binary (pickle), csv, and Excel.

This will allows us to re-load that data later to add more games to it quicker.

In [11]:
import datetime
import os

stats_df.to_pickle(os.path.join(DATA_DIR, "stats_df.pkl"))
games_df.to_pickle(os.path.join(DATA_DIR, "games_df.pkl"))

stats_df.to_csv(os.path.join(DATA_DIR, "stats_df.csv"), index=False)
games_df.to_csv(os.path.join(DATA_DIR, "games_df.csv"), index=False)

with pd.ExcelWriter(os.path.join(DATA_DIR, 'stats_df.xlsx')) as writer:
    stats_df.to_excel(writer, sheet_name='STATS', index=False)
    games_df.to_excel(writer, sheet_name='GAMES', index=False)
games_df.to_excel(os.path.join(DATA_DIR, "games_df.xlsx"))


now = datetime.datetime.now() # current date and time
date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print(f"Finished saving at time: {date_time}")

Finished saving at time: 09/11/2022, 19:44:53

## 4. Inspection & analysis

We use [dtale](https://pypi.org/project/dtale/) package for this.

In [ ]:
dtale.show(stats_df)
# dtale.show(stats_df[['tno', 'stint', 'poss', 'ortg', 'drtg', "poss_opp", "ortg_opp", "drtg_opp"]])

## 5. Some checks...

Check if a stint lineup has more than 5 players! It could happen:

1. Game 2031329, player H. Besson comes out (wrongly?) at 3rd period min 10:00 but he keeps playing and then goes out again at 7:33.

In [ ]:
stats_df.shape
mask = stats_df['lineup'].apply(lambda x: len(x) != 5)
stats_df[mask]

# stats_df.iloc[941][['game_id', 'lineup']]