# BSS-AUS: Basketball Statistic System (AUS)

This system allows to **incrementally** build a database of _stint_ (advance) statistics for each game and each team.

A **stint** is a lineup of players who play together in different interval periods across the game. The system will build the stints for each team from the play-by-play data and compute various statistics.

The data comes as a raw JSON file:

https://fibalivestats.dcd.shared.geniussports.com/data/2087737/data.json

In [1]:
# Let's first load all required packages...
import os
import pandas as pd
import numpy as np

from config import *
import bball_stats
import tools

## 1. Compute stat tables for various games

## 1. Define games to scrape and saved data

First, setup the games we want to scrape and compute, as well as the existing data stored in file to append to.

In [4]:
# games to be computed
# format: (game id, game no for team 1, game no for team 2)
games = [(1999318, 1, 1), (2087737, 2, 2), (2090351, 3, 3)]
games = [1976446,1976447,1976448,1976452,1976454,2004608,2004609,1976449,1976451,1976453,1976455,1976458,1976456,1976457,1976459,1976460,1976461,1976462,1976463,1976464,2004610,1976465,1976468,1976469,1976474,1976473,1976482,2036215,2031329,2031330,2031332,2031333,2031334,2031335,2031336,2031337,2031338,2031340,2031341,2046695,2046696,2046697,2031342,2031343,2031344,2031345,2031346,2031347,2046698,2046700,2046701,2046702,2046703,2046704,2046706,2046707,2046709,2046710,2046711,2046712,2046713,2051763,2053811,2053812,2053813,2053814,2053815,2053816,2053817,2053818,2053819,2053820,2053821,2053822,2053823,2053824,2053825,2056454,2056455,2056457,2056458,2056461,2056462,2056460,2056463,2056464,2056466,2056467,2056469,2056471,2056472,2056473,2065653,2065654,2065655,2065656,2065657,2065658,2065659,2069165,2069166,2069167,2069168,2069169,2069170,2069171,2069172,2069175,2069177,2069179,2069181,2069183,2069184,2069186,2069187,2069191,2069192,2069194,2069196,2069199,2069202,2069203,2069204,2069190,2069193,2069195,2069197,2069198,2069200,2069201,2069205,2069173,2069174,2069176,2069178,2069180,2069182,2069180,2069188,2069189]
games = [(n, 0, 0) for n in games]

reload = True
file_stats_df = os.path.join(DATA_DIR, "stats_df.pkl")
file_games_df = os.path.join(DATA_DIR, "games_df.pkl")

## 2. Compute stat and game tables

Now, let us run the system that scrapes the games' data, compute stats and game info, and adds them to the initial tables of stats and games.

In [5]:
init_stats_df = None
game_df = None
if os.path.exists(file_stats_df) and not reload:
    # load the stat dataframe already stored as a file
    print(f"Loading initial stats df: {file_stats_df}")
    init_stats_df = pd.read_pickle(file_stats_df)
    game_df = pd.read_pickle(file_games_df)
    existing_games = init_stats_df.game_id.unique()
else:
    existing_games = []

stats_dfs = [init_stats_df] if init_stats_df is not None else []
games_data = []
for game in games:
    game_id, game_no1, game_no2 = game
    if game_id in existing_games:
        print(f"Game {game_id} is already in table")
        continue
    print(f"Computing game {game_id}...")

    # now compute the actual stats for the game
    df, team1, team2 = bball_stats.build_game_stints_stats_df(game_id)
    try:
        game_info = tools.get_game_info(game_id)    # extract date of game from HTML
    except:
        game_info = { "venue" : np.nan, "date": np.nan}
    print(f"\t .... done: {team1[0]} ({team1[1]}) vs {team2[0]} ({team2[1]}) on {game_info['date']}")

    # fill game info
    df.insert(0, 'game_id', game_id)
    df.insert(3, 'game_no1', game_no1)
    df.insert(4, 'game_no2', game_no2)
    stats_dfs.append(df)

    # build game dataframe table
    games_data.append({'game_id': game_id,
                       "date" : game_info['date'],
                       "team1": team1[0], "team2": team2[0],
                       "s1": team1[1], "s2": team2[1],
                       "game_no1": game_no2, "game_no2": game_no2,
                       "winner": 1 if team1[1] > team2[1] else 2,
                        "venue" : game_info["venue"]}
                      )

# put all dfs together into a single dataframe
stats_df = pd.concat(stats_dfs)
stats_df.reset_index(inplace=True, drop=True)
stats_df.sample(5)

if game_df is not None:
    games_df = pd.concat([game_df, pd.DataFrame(games_data)])
    games_df.reset_index(inplace=True, drop=True)
else:
    games_df = pd.DataFrame(games_data)

Computing game 1976446...
	 .... done: Tasmania JackJumpers (83) vs Brisbane Bullets (74) on 2021-12-03 00:00:00
Computing game 1976447...
	 .... done: Perth Wildcats (85) vs Adelaide 36ers (73) on 2021-12-03 00:00:00
Computing game 1976448...
	 .... done: South East Melbourne Phoenix (89) vs New Zealand Breakers (65) on 2021-12-04 00:00:00
Computing game 1976452...
	 .... done: Adelaide 36ers (71) vs Illawarra Hawks (81) on 2021-12-05 00:00:00
Computing game 1976454...
	 .... done: Sydney Kings (79) vs Melbourne United (74) on 2021-12-05 00:00:00
Computing game 2004608...
	 .... done: Perth Wildcats (90) vs Cairns Taipans (67) on 2021-12-05 00:00:00
Computing game 2004609...
	 .... done: Perth Wildcats (94) vs Brisbane Bullets (97) on 2021-12-12 00:00:00
Computing game 1976449...
	 .... done: Sydney Kings (84) vs Illawarra Hawks (92) on 2021-12-11 00:00:00
Computing game 1976451...
	 .... done: Cairns Taipans (69) vs Tasmania JackJumpers (62) on 2021-12-11 00:00:00
Computing game 1976453...
	 .... done: Melbourne United (86) vs South East Melbourne Phoenix (94) on 2021-12-12 00:00:00
Computing game 1976455...
	 .... done: Adelaide 36ers (98) vs New Zealand Breakers (85) on 2021-12-12 00:00:00
Computing game 1976458...
	 .... done: South East Melbourne Phoenix (95) vs New Zealand Breakers (88) on 2021-12-10 00:00:00
Computing game 1976456...
	 .... done: Tasmania JackJumpers (80) vs Adelaide 36ers (83) on 2021-12-09 00:00:00
Computing game 1976457...
	 .... done: Melbourne United (89) vs Sydney Kings (47) on 2021-12-16 00:00:00
Computing game 1976459...
	 .... done: Illawarra Hawks (97) vs New Zealand Breakers (96) on 2021-12-17 00:00:00
Computing game 1976460...
	 .... done: Perth Wildcats (83) vs Brisbane Bullets (70) on 2021-12-17 00:00:00
Computing game 1976461...
	 .... done: Sydney Kings (84) vs South East Melbourne Phoenix (73) on 2021-12-18 00:00:00
Computing game 1976462...
	 .... done: Cairns Taipans (93) vs Adelaide 36ers (67) on 2021-12-18 00:00:00
Computing game 1976463...
	 .... done: Melbourne United (83) vs New Zealand Breakers (60) on 2021-12-19 00:00:00
Computing game 1976464...
	 .... done: Brisbane Bullets (96) vs Illawarra Hawks (92) on 2021-12-19 00:00:00
Computing game 2004610...
	 .... done: Perth Wildcats (101) vs Tasmania JackJumpers (83) on 2021-12-19 00:00:00
Computing game 1976465...
	 .... done: Sydney Kings (83) vs Tasmania JackJumpers (71) on 2021-12-22 00:00:00
Computing game 1976468...
	 .... done: Tasmania JackJumpers (84) vs New Zealand Breakers (75) on 2021-12-26 00:00:00
Computing game 1976469...
	 .... done: Sydney Kings (68) vs Melbourne United (82) on 2021-12-26 00:00:00
Computing game 1976474...
	 .... done: Tasmania JackJumpers (72) vs Melbourne United (76) on 2022-01-01 00:00:00
Computing game 1976473...
	 .... done: Cairns Taipans (78) vs Perth Wildcats (84) on 2021-12-31 00:00:00
Computing game 1976482...
	 .... done: Brisbane Bullets (83) vs New Zealand Breakers (88) on 2022-01-09 00:00:00
Computing game 2036215...
	 .... done: Illawarra Hawks (97) vs Sydney Kings (89) on 2022-01-13 00:00:00
Computing game 2031329...
	 .... done: New Zealand Breakers (78) vs Melbourne United (89) on 2022-01-14 00:00:00
Computing game 2031330...
	 .... done: Brisbane Bullets (100) vs South East Melbourne Phoenix (84) on 2022-01-15 00:00:00
Computing game 2031332...
	 .... done: Illawarra Hawks (84) vs Melbourne United (88) on 2022-01-16 00:00:00
Computing game 2031333...
	 .... done: Sydney Kings (75) vs New Zealand Breakers (82) on 2022-01-16 00:00:00
Computing game 2031334...
	 .... done: Adelaide 36ers (87) vs Perth Wildcats (74) on 2022-01-18 00:00:00
Computing game 2031335...
	 .... done: Brisbane Bullets (96) vs Sydney Kings (87) on 2022-01-21 00:00:00
Computing game 2031336...
	 .... done: Adelaide 36ers (78) vs Melbourne United (97) on 2022-01-22 00:00:00
Computing game 2031337...
	 .... done: Illawarra Hawks (78) vs Perth Wildcats (94) on 2022-01-22 00:00:00
Computing game 2031338...
	 .... done: Sydney Kings (97) vs Brisbane Bullets (73) on 2022-01-23 00:00:00
Computing game 2031340...
	 .... done: Tasmania JackJumpers (63) vs South East Melbourne Phoenix (76) on 2022-01-23 00:00:00
Computing game 2031341...
	 .... done: South East Melbourne Phoenix (87) vs Cairns Taipans (77) on 2022-01-25 00:00:00
Computing game 2046695...
	 .... done: Illawarra Hawks (100) vs Adelaide 36ers (89) on 2022-01-24 00:00:00
Computing game 2046696...
	 .... done: Brisbane Bullets (82) vs Melbourne United (84) on 2022-01-26 00:00:00
Computing game 2046697...
	 .... done: Illawarra Hawks (80) vs Perth Wildcats (94) on 2022-01-27 00:00:00
Computing game 2031342...
	 .... done: Tasmania JackJumpers (76) vs Adelaide 36ers (71) on 2022-01-28 00:00:00
Computing game 2031343...
	 .... done: Cairns Taipans (75) vs Illawarra Hawks (94) on 2022-01-29 00:00:00
Computing game 2031344...
	 .... done: Brisbane Bullets (73) vs South East Melbourne Phoenix (88) on 2022-01-29 00:00:00
Computing game 2031345...
	 .... done: Adelaide 36ers (88) vs Melbourne United (83) on 2022-01-30 00:00:00
Computing game 2031346...
	 .... done: Sydney Kings (96) vs Perth Wildcats (81) on 2022-01-30 00:00:00
Computing game 2031347...
	 .... done: New Zealand Breakers (59) vs Tasmania JackJumpers (83) on 2022-01-30 00:00:00
Computing game 2046698...
	 .... done: New Zealand Breakers (90) vs Illawarra Hawks (67) on 2022-02-02 00:00:00
Computing game 2046700...
	 .... done: Tasmania JackJumpers (77) vs Sydney Kings (70) on 2022-02-04 00:00:00
Computing game 2046701...
	 .... done: Brisbane Bullets (94) vs Cairns Taipans (102) on 2022-02-05 00:00:00
Computing game 2046702...
	 .... done: South East Melbourne Phoenix (79) vs Perth Wildcats (101) on 2022-02-05 00:00:00
Computing game 2046703...
	 .... done: Sydney Kings (84) vs New Zealand Breakers (65) on 2022-02-06 00:00:00
Computing game 2046704...
	 .... done: Melbourne United (85) vs Tasmania JackJumpers (94) on 2022-02-06 00:00:00
Computing game 2046706...
	 .... done: Illawarra Hawks (87) vs South East Melbourne Phoenix (88) on 2022-02-07 00:00:00
Computing game 2046707...
	 .... done: South East Melbourne Phoenix (87) vs Sydney Kings (92) on 2022-02-10 00:00:00
Computing game 2046709...
	 .... done: Brisbane Bullets (77) vs Adelaide 36ers (73) on 2022-02-11 00:00:00
Computing game 2046710...
	 .... done: Illawarra Hawks (87) vs Cairns Taipans (81) on 2022-02-12 00:00:00
Computing game 2046711...
	 .... done: Melbourne United (93) vs Perth Wildcats (87) on 2022-02-12 00:00:00
Computing game 2046712...
	 .... done: South East Melbourne Phoenix (83) vs Tasmania JackJumpers (71) on 2022-02-13 00:00:00
Computing game 2046713...
	 .... done: Sydney Kings (71) vs Brisbane Bullets (69) on 2022-02-13 00:00:00
Computing game 2051763...
	 .... done: Cairns Taipans (83) vs New Zealand Breakers (84) on 2022-02-14 00:00:00
Computing game 2053811...
	 .... done: Melbourne United (94) vs South East Melbourne Phoenix (87) on 2022-02-17 00:00:00
Computing game 2053812...
	 .... done: Illawarra Hawks (79) vs Cairns Taipans (54) on 2022-02-18 00:00:00
Computing game 2053813...
	 .... done: South East Melbourne Phoenix (98) vs Brisbane Bullets (94) on 2022-02-19 00:00:00
Computing game 2053814...
	 .... done: Sydney Kings (98) vs Perth Wildcats (95) on 2022-02-19 00:00:00
Computing game 2053815...
	 .... done: Adelaide 36ers (82) vs Cairns Taipans (71) on 2022-02-20 00:00:00
Computing game 2053816...
	 .... done: Melbourne United (108) vs New Zealand Breakers (73) on 2022-02-20 00:00:00
Computing game 2053817...
	 .... done: Illawarra Hawks (86) vs Tasmania JackJumpers (96) on 2022-02-20 00:00:00
Computing game 2053818...
	 .... done: Cairns Taipans (73) vs Brisbane Bullets (69) on 2022-02-24 00:00:00
Computing game 2053819...
	 .... done: Illawarra Hawks (87) vs Adelaide 36ers (71) on 2022-02-25 00:00:00
Computing game 2053820...
	 .... done: Brisbane Bullets (94) vs Tasmania JackJumpers (86) on 2022-02-26 00:00:00
Computing game 2053821...
	 .... done: South East Melbourne Phoenix (86) vs Perth Wildcats (80) on 2022-02-26 00:00:00
Computing game 2053822...
	 .... done: Adelaide 36ers (90) vs Sydney Kings (93) on 2022-02-27 00:00:00
Computing game 2053823...
	 .... done: Cairns Taipans (73) vs Melbourne United (89) on 2022-02-27 00:00:00
Computing game 2053824...
	 .... done: Tasmania JackJumpers (78) vs Perth Wildcats (89) on 2022-02-28 00:00:00
Computing game 2053825...
	 .... done: New Zealand Breakers (87) vs Illawarra Hawks (102) on 2022-03-01 00:00:00
Computing game 2056454...
	 .... done: Adelaide 36ers (76) vs South East Melbourne Phoenix (83) on 2022-03-04 00:00:00
Computing game 2056455...
	 .... done: Tasmania JackJumpers (66) vs New Zealand Breakers (62) on 2022-03-05 00:00:00
Computing game 2056457...
	 .... done: Melbourne United (95) vs Brisbane Bullets (83) on 2022-03-05 00:00:00
Computing game 2056458...
	 .... done: Adelaide 36ers (73) vs Perth Wildcats (92) on 2022-03-06 00:00:00
Computing game 2056461...
	 .... done: South East Melbourne Phoenix (77) vs Illawarra Hawks (83) on 2022-03-06 00:00:00
Computing game 2056462...
	 .... done: New Zealand Breakers (74) vs Brisbane Bullets (92) on 2022-03-07 00:00:00
Computing game 2056460...
	 .... done: Sydney Kings (98) vs Cairns Taipans (88) on 2022-03-06 00:00:00
Computing game 2056463...
	 .... done: Melbourne United (87) vs Perth Wildcats (97) on 2022-03-10 00:00:00
Computing game 2056464...
	 .... done: Cairns Taipans (69) vs Tasmania JackJumpers (85) on 2022-03-11 00:00:00
Computing game 2056466...
	 .... done: Brisbane Bullets (83) vs Perth Wildcats (95) on 2022-03-12 00:00:00
Computing game 2056467...
	 .... done: New Zealand Breakers (84) vs Adelaide 36ers (75) on 2022-03-12 00:00:00
Computing game 2056469...
	 .... done: Tasmania JackJumpers (81) vs Illawarra Hawks (77) on 2022-03-13 00:00:00
Computing game 2056471...
	 .... done: South East Melbourne Phoenix (90) vs Melbourne United (98) on 2022-03-13 00:00:00
Computing game 2056472...
	 .... done: Cairns Taipans (77) vs Sydney Kings (86) on 2022-03-13 00:00:00
Computing game 2056473...
	 .... done: New Zealand Breakers (102) vs Perth Wildcats (104) on 2022-03-14 00:00:00
Computing game 2065653...
	 .... done: Illawarra Hawks (103) vs South East Melbourne Phoenix (97) on 2022-03-17 00:00:00
Computing game 2065654...
	 .... done: Adelaide 36ers (83) vs Cairns Taipans (57) on 2022-03-18 00:00:00
Computing game 2065655...
	 .... done: Tasmania JackJumpers (65) vs Illawarra Hawks (91) on 2022-03-19 00:00:00
Computing game 2065656...
	 .... done: South East Melbourne Phoenix (89) vs Sydney Kings (91) on 2022-03-19 00:00:00
Computing game 2065657...
	 .... done: Melbourne United (101) vs Adelaide 36ers (74) on 2022-03-20 00:00:00
Computing game 2065658...
	 .... done: Brisbane Bullets (88) vs Cairns Taipans (98) on 2022-03-20 00:00:00
Computing game 2065659...
	 .... done: Perth Wildcats (95) vs New Zealand Breakers (85) on 2022-03-20 00:00:00
Computing game 2069165...
	 .... done: New Zealand Breakers (100) vs Brisbane Bullets (101) on 2022-03-24 00:00:00
Computing game 2069166...
	 .... done: Perth Wildcats (83) vs Tasmania JackJumpers (85) on 2022-03-24 00:00:00
Computing game 2069167...
	 .... done: Cairns Taipans (74) vs South East Melbourne Phoenix (86) on 2022-03-25 00:00:00
Computing game 2069168...
	 .... done: Brisbane Bullets (82) vs Tasmania JackJumpers (84) on 2022-03-26 00:00:00
Computing game 2069169...
	 .... done: Perth Wildcats (80) vs Sydney Kings (102) on 2022-03-26 00:00:00
Computing game 2069170...
	 .... done: Adelaide 36ers (100) vs South East Melbourne Phoenix (92) on 2022-03-27 00:00:00
Computing game 2069171...
	 .... done: Melbourne United (77) vs Illawarra Hawks (92) on 2022-03-27 00:00:00
Computing game 2069172...
	 .... done: New Zealand Breakers (90) vs Cairns Taipans (93) on 2022-03-27 00:00:00
Computing game 2069175...
	 .... done: Illawarra Hawks (87) vs Brisbane Bullets (70) on 2022-03-31 00:00:00
Computing game 2069177...
	 .... done: Adelaide 36ers (72) vs Tasmania JackJumpers (80) on 2022-04-01 00:00:00
Computing game 2069179...
	 .... done: Melbourne United (90) vs Illawarra Hawks (96) on 2022-04-02 00:00:00
Computing game 2069181...
	 .... done: Cairns Taipans (90) vs South East Melbourne Phoenix (85) on 2022-04-02 00:00:00
Computing game 2069183...
	 .... done: Tasmania JackJumpers (83) vs Sydney Kings (103) on 2022-04-03 00:00:00
Computing game 2069184...
	 .... done: Brisbane Bullets (92) vs Adelaide 36ers (91) on 2022-04-03 00:00:00
Computing game 2069186...
	 .... done: New Zealand Breakers (77) vs Cairns Taipans (87) on 2022-04-04 00:00:00
Computing game 2069187...
	 .... done: Perth Wildcats (75) vs Melbourne United (84) on 2022-04-04 00:00:00
Computing game 2069191...
	 .... done: South East Melbourne Phoenix (88) vs Melbourne United (90) on 2022-04-07 00:00:00
Computing game 2069192...
	 .... done: Perth Wildcats (89) vs New Zealand Breakers (80) on 2022-04-07 00:00:00
Computing game 2069194...
	 .... done: Tasmania JackJumpers (87) vs Cairns Taipans (80) on 2022-04-08 00:00:00
Computing game 2069196...
	 .... done: Brisbane Bullets (77) vs Illawarra Hawks (108) on 2022-04-09 00:00:00
Computing game 2069199...
	 .... done: Adelaide 36ers (77) vs Sydney Kings (84) on 2022-04-09 00:00:00
Computing game 2069202...
	 .... done: New Zealand Breakers (89) vs South East Melbourne Phoenix (99) on 2022-04-10 00:00:00
Computing game 2069203...
	 .... done: Cairns Taipans (63) vs Melbourne United (92) on 2022-04-10 00:00:00
Computing game 2069204...
	 .... done: Adelaide 36ers (85) vs Brisbane Bullets (93) on 2022-04-11 00:00:00
Computing game 2069190...
	 .... done: Sydney Kings (82) vs Adelaide 36ers (90) on 2022-04-17 00:00:00
Computing game 2069193...
	 .... done: South East Melbourne Phoenix (80) vs Tasmania JackJumpers (84) on 2022-04-17 00:00:00
Computing game 2069195...
	 .... done: Perth Wildcats (106) vs Cairns Taipans (87) on 2022-04-16 00:00:00
Computing game 2069197...
	 .... done: Melbourne United (88) vs Brisbane Bullets (79) on 2022-04-16 00:00:00
Computing game 2069198...
	 .... done: New Zealand Breakers (86) vs Tasmania JackJumpers (88) on 2022-04-15 00:00:00
Computing game 2069200...
	 .... done: Perth Wildcats (70) vs Adelaide 36ers (82) on 2022-04-14 00:00:00
Computing game 2069201...
	 .... done: Illawarra Hawks (102) vs Sydney Kings (107) on 2022-04-14 00:00:00
Computing game 2069205...
	 .... done: New Zealand Breakers (70) vs Sydney Kings (76) on 2022-04-12 00:00:00
Computing game 2069173...
	 .... done: Perth Wildcats (100) vs South East Melbourne Phoenix (102) on 2022-04-24 00:00:00
Computing game 2069174...
	 .... done: Sydney Kings (84) vs Illawarra Hawks (87) on 2022-04-24 00:00:00
Computing game 2069176...
	 .... done: New Zealand Breakers (60) vs Adelaide 36ers (93) on 2022-04-24 00:00:00
Computing game 2069178...
	 .... done: Cairns Taipans (112) vs Brisbane Bullets (98) on 2022-04-23 00:00:00
Computing game 2069180...
	 .... done: Tasmania JackJumpers (83) vs Melbourne United (61) on 2022-04-23 00:00:00
Computing game 2069182...
	 .... done: Perth Wildcats (77) vs Illawarra Hawks (82) on 2022-04-22 00:00:00
Computing game 2069180...
	 .... done: Tasmania JackJumpers (83) vs Melbourne United (61) on 2022-04-23 00:00:00
Computing game 2069188...
	 .... done: Cairns Taipans (77) vs Sydney Kings (87) on 2022-04-21 00:00:00
Computing game 2069189...
	 .... done: Melbourne United (92) vs Cairns Taipans (80) on 2022-04-18 00:00:00

If we want we can do some sanity checks, before saving to disk:

In [6]:
games_df

,game_id,date,team1,team2,s1,s2,game_no1,game_no2,winner,venue
0,1976446,2021-12-03,Tasmania JackJumpers,Brisbane Bullets,83,74,0,0,1,MyState Bank Arena
1,1976447,2021-12-03,Perth Wildcats,Adelaide 36ers,85,73,0,0,1,RAC Arena
2,1976448,2021-12-04,South East Melbourne Phoenix,New Zealand Breakers,89,65,0,0,1,John Cain Arena
3,1976452,2021-12-05,Adelaide 36ers,Illawarra Hawks,71,81,0,0,2,Adelaide Entertainment Centre
4,1976454,2021-12-05,Sydney Kings,Melbourne United,79,74,0,0,1,Qudos Bank Arena
...,...,...,...,...,...,...,...,...,...,...
135,2069180,2022-04-23,Tasmania JackJumpers,Melbourne United,83,61,0,0,1,MyState Bank Arena
136,2069182,2022-04-22,Perth Wildcats,Illawarra Hawks,77,82,0,0,2,RAC Arena
137,2069180,2022-04-23,Tasmania JackJumpers,Melbourne United,83,61,0,0,1,MyState Bank Arena
138,2069188,2022-04-21,Cairns Taipans,Sydney Kings,77,87,0,0,2,Cairns Convention Centre
139,2069189,2022-04-18,Melbourne United,Cairns Taipans,92,80,0,0,1,John Cain Arena

In [7]:
stats_df
# stats_df.loc[4]

,game_id,tno,team,game_no1,game_no2,stint,poss,ortg,drtg,nrtg,...,ballhand_opp,badpass_opp,ofoul_opp,3sec_opp,8sec_opp,24sec_opp,opp_fga_blocked_opp,lineup,intervals,mins
0,1976446,1,Tasmania JackJumpers,0,0,1,6.00,116.67,100.00,16.67,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"(S. Mcdaniel, J. Magette, W. Magnay, J. Adams,...","[(1, 00:10:00, 00:06:46)]",3.233333
1,1976446,1,Tasmania JackJumpers,0,0,2,3.88,154.64,115.74,38.90,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,"(J. Magette, S. Mcdaniel, W. Magnay, J. Adams,...","[(1, 00:06:46, 00:05:04)]",1.700000
2,1976446,1,Tasmania JackJumpers,0,0,4,6.00,66.67,0.00,66.67,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,"(J. Magette, S. Mcdaniel, F. Krslovic, J. Adam...","[(1, 00:05:00, 00:03:41)]",1.316667
3,1976446,1,Tasmania JackJumpers,0,0,5,9.32,75.11,90.09,-14.98,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,"(C. Steindl, J. Magette, S. Mcdaniel, F. Krslo...","[(1, 00:03:41, 00:01:45)]",1.933333
4,1976446,1,Tasmania JackJumpers,0,0,6,5.00,220.00,40.00,180.00,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,"(C. Steindl, J. Magette, S. Mcdaniel, F. Krslo...","[(1, 00:01:45, 00:00:58.900000), (1, 00:00:17....",0.933333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4907,2069189,2,Cairns Taipans,0,0,20,2.32,86.21,0.00,86.21,...,0.0,0.0,0.0,0.0,0.0,0.0,50.0,"(M. Deng, T. Mccall, B. Ayre, B. Kuol, B. Inge...","[(4, 00:09:05, 00:08:07)]",0.966667
4908,2069189,2,Cairns Taipans,0,0,21,6.00,133.33,116.67,16.66,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"(K. Pinder, M. Deng, T. Mccall, B. Ayre, J. Ng...","[(4, 00:07:09, 00:04:10)]",2.983333
4909,2069189,2,Cairns Taipans,0,0,22,6.00,33.33,118.34,-85.01,...,1.0,0.0,0.0,0.0,0.0,0.0,25.0,"(K. Pinder, M. Deng, T. Mccall, J. Kenny, J. N...","[(4, 00:04:10, 00:02:01)]",2.150000
4910,2069189,2,Cairns Taipans,0,0,23,1.00,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(M. Deng, T. Mccall, B. Ayre, J. Kenny, B. Ing...","[(4, 00:02:01, 00:01:48)]",0.216667
4911,2069189,2,Cairns Taipans,0,0,24,3.88,283.51,77.32,206.19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"(M. Djeric, M. Deng, T. Mccall, B. Ayre, J. Ke...","[(4, 00:01:48, 00:00:00)]",1.800000

In [5]:
# (ortg, drtg) should mirror (drtg_opp, ortg)
stats_df.iloc[41][['poss', 'ortg', 'drtg', "poss_opp", "ortg_opp", "drtg_opp"]]

poss         10.88
ortg         73.53
drtg        101.21
poss_opp      9.88
ortg_opp    101.21
drtg_opp     73.53
Name: 41, dtype: object

## 3. Save stats and games to files

We now save the full dataframes (stats and games) in various formats: binary (pickle), csv, and Excel.

This will allows us to re-load that data later to add more games to it quicker.

In [8]:

import os

stats_df.to_pickle(os.path.join(DATA_DIR, "stats_df.pkl"))
games_df.to_pickle(os.path.join(DATA_DIR, "games_df.pkl"))

stats_df.to_csv(os.path.join(DATA_DIR, "stats_df.csv"))
games_df.to_csv(os.path.join(DATA_DIR, "games_df.csv"))

with pd.ExcelWriter(os.path.join(DATA_DIR, 'stats_df.xlsx')) as writer:
    stats_df.to_excel(writer, sheet_name='STATS')
    games_df.to_excel(writer, sheet_name='GAMES')
games_df.to_excel(os.path.join(DATA_DIR, "games_df.xlsx"))

### 3. Inspection & analysis

We use [dtale](https://pypi.org/project/dtale/) package for this.

In [7]:
import dtale

dtale.show(stats_df)
# dtale.show(stats_df[['tno', 'stint', 'poss', 'ortg', 'drtg', "poss_opp", "ortg_opp", "drtg_opp"]])

## Web page analysis

In [8]:
tools.get_game_info(1976446)
# import datetime
# datetime.datetime.strptime("3/2/89", "%d/%m/%y")

{'venue': 'MyState Bank Arena', 'date': datetime.datetime(2021, 12, 3, 0, 0)}